<h2> Contacto </h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
    <label for="nombre">Nombre</label><br>
    <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required
    pattern="[a-zA-Z]+"> <span
        *ngIf="nombre.touched && !nombre.valid"> *El campo no es valido*</span> <br>


    <label for="apellidos">Apellidos</label><br>
    <input type="text" name="apellidos" id="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required pattern="[a-zA-Z]+">
    <span *ngIf="apellidos.touched && !apellidos.valid"> *El campo no es valido*</span> <br>


    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="usuario.email" required > <span
        *ngIf="email.touched && !email.valid"> *El campo no es valido*</span> <br>


    <label for="mensaje">Mensaje</label><br>
    <textarea name="mensaje" id="" cols="30" rows="10" #mensaje="ngModel" [(ngModel)]="usuario.mensaje"
        required></textarea> <span *ngIf="mensaje.touched && !mensaje.valid"> *El campo no es valido*</span> <br>


    <input type="submit" value="enviar" [disabled]="!formContacto.form.valid"/>
</form>