<div>
  {{ fecha | date: 'dd/MM/yy'}}
</div>
<hr>
<div>
  {{ 4 | calculadora: 2}}
</div>
<hr>
<h2>Crear usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
  <p>
    <label for="name">Nombre</label><br>
    <input type="text" name="name" required pattern="[a-zA-Z]+" [(ngModel)]="new_user.name">
    <br>
  </p>

  <p>
    <label for="job">Trabajo</label><br>
    <input type="text" name="job" required pattern="[a-zA-Z]+" [(ngModel)]="new_user.job">
    <br>
  </p>

  <button type="submit" [disabled]="!newUser.form.valid">
    POST
  </button>
</form>
<hr>
<h2>Buscar Usuario</h2>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()">
<br>
<div *ngIf="!user">
  <span> Cargando...</span>
</div>

<div *ngIf="user">
  <img src="{{user.avatar}}" width="200px">
  <h2>{{user.first_name + ' ' + user.last_name | uppercase }}</h2>
</div>